body {
  width: 780px;
  height: 580px;
  margin: 0;
  padding: 0; }

td {
  margin: 0;
  padding: 5px; }

.status-link {
  margin: auto;
  text-align: center; }
  .status-link a {
    color: white; }

/*
a {
	color: white;
}
*/
.status-icon {
  width: 32px;
  height: 32px; }
